#employee {
    list-style-type: none;
    padding: 0;
    width: 50%;
}


#div_list {
    align-items: center; 
    margin-left: 'auto';
    margin-right: 'auto';
}

#list_li {
    border-bottom: 1px solid gray; /* Light grey */
}


#list_li > li{
    padding : 5px
}

#input_employee > div > input[type='text'],
#input_employee > div > input[type='number'] {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

#update {
        position: relative;
        display: block;
        padding: 10px 20px 10px 20px;
        color: #FFF;
        margin: 0 auto;
        background: #1abc9c;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #16a085;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
}